.card {
    position: relative;
    height: 300px;
    border: none;
    border-radius: 0;

    img.cover {
        height: 100%;
        object-fit: cover;
    }

    .card-body {
        display: none;
        position: absolute;
        font-style: italic;
        overflow-y: auto;

        svg {
            filter: invert(67%) sepia(79%) saturate(803%) hue-rotate(10deg) brightness(104%) contrast(101%);
        }
    }

    &:hover {
        .card-body {
            display: flex;
            background-color: rgba(0, 0, 0, 0.80);
            color: white;
            height: 100%;
            width: 100%;
        }
    }

}